.sprite-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: 78px;
  left: 78px;
  transition: .3s;
  .sprite {
    width: auto;
    height: 100%;
    position: relative;
    img {
      height: 100%;
    }
  }
  .dead {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30px;
    }
  }
}

.sprite-enemy {
  width: 70px;
  height: 70px;
  bottom: 94px;
  left: 94px;
  transition: 0s;
}